<div id="main-container" ng-controller="callbackThank">

    <!--@End Video Content-->
    <!--@Text Content-->
    <div id="text-content">
        <!--@Feedback form-->
        <div id="feedback-container">
            <div id="cust-feedback-content">
                <p class="fs_18 c_fff">Thanks! <br>We have successfully received your contact details</p>

                <p>We'll call you back the soonest possible.</p>

                <p><a href="#/loading" id="home-btn" ng-click="reload()">RETURN HOME</a></p>
            </div>
        </div>
        <!--@End feedback form-->
    </div>
    <!--@End Text Content-->
</div>