<div id="main-container" ng-controller="feedback">

    <!--@End Video Content-->
    <!--@Text Content-->
    <div id="text-content">
        <!--@Feedback form-->
        <div id="feedback-container">
            <div id="cust-feedback-content">
                <p class="fs_18 c_fff">Thanks for your feedback!</p>
                <p>We are listening, and your feedback will help us to improve the  quality of our services!</p>
                <p><a href="#/loading" id="home-btn" ng-click="reload()">RETURN HOME</a></p>
            </div>
        </div>
        <!--@End feedback form-->
    </div>
    <!--@End Text Content-->
</div>