<div id="main-container" ng-controller="offline">
    <!--@Video Content-->
    <div id="video-content">
        <img src="images/cust-widget/notOnline.jpg" width="360" height="237" />
    </div>
    <!--@End Video Content-->
    <!--@Text Content-->
    <div id="text-content">
        <!--@Operator Offline Content-->
        <div id="oper-off-content">
            <p class="c_fff fs_18">Sorry, we're not online at this moment<br/>
                <a id="call-me-back-btn" href="#/off_call_back">CALL ME BACK</a></p>
        </div>
        <!--@End Operator Offline Content-->
    </div>
    <!--@End Text Content-->
</div>