
<div id="main-container" ng-controller="online">
    <!--@Video Content-->
    <div id="video-content">
        <img src="images/cust-widget/welcome.jpg" width="360" height="237" />
    </div>
    <!--@End Video Content-->
    <!--@Text Content-->
    <div id="text-content">
        <!--@Operator Online Content-->
        <div id="oper-on-content">
            <p class="c_fff fs_18">Need Assistance ?<br/>
                Video chat with us Live</p>

            <p><span class="icon_eye">&nbsp;</span><br/>
                You can see us but we can't see you<br/>
                <a id="view-video-btn" href="#/on2">Find out more</a></p>

            <p><a id="join-btn" ng-click="joinWaiting()"><img width="186" height="40"
                                                              src="images/cust-widget/join_btn.gif"/></a></p>
        </div>
        <!--@End Operator Online Content-->
    </div>
    <!--@End Text Content-->
</div>
