<div id="main-container" ng-controller="waiting">
    <!--@Video Content-->
    <div id="video-content">
    </div>
    <!--@End Video Content-->
    <!--@Text Content-->
    <div id="text-content">
        <!--@Waiting Content-->
        <div id="waiting-content">
            <p class="c_fff fs_18">The wait will be short, we promise !<br/>
                <a id="call-me-back-btn" href="#/wait_call_back">CALL ME BACK</a></p>

            <p id="queue" class="fs_18">You're placed <span class="c_fff">#{{queueNumber}}</span> in the queue ...</p>
        </div>
        <!--@End waiting Content-->
    </div>
    <!--@End Text Content-->
</div>